// 无法通过配置变量改变样式的情况可在该文件强制覆盖 Vant 原样式
.van-button {
    display: block;
    width: 100%;
}

.van-nav-bar {
    .van-icon {
        font-weight: bold;
    }

    .van-nav-bar__title {
        font-weight: bold;
    }

    &.van-hairline--bottom {
        &::after {
            border: none;
        }
    }
}

div.van-dialog {
    width: 80vw;
    border-radius: 20px;

    .van-dialog__header {
        font-size: 34px;
        line-height: 80px;
        font-weight: normal;

    }

    .van-dialog__message--has-title {
        font-size: 34px;
        color: #333333;
        line-height: 48px;
        font-weight: normal;
    }

    .van-dialog__message {
        max-height: auto;
        padding: 0 70px 50px;
        font-size: 30px;
        color: #666666;
    }

    .van-button--large {
        height: auto;
        border-top: 2px solid #E6E6E6;
        padding: 40px 0;
        font-size: 32px;
    }
}