// 可配置的变量：https://github.com/youzan/vant/blob/dev/src/style/var.less
// Component Colors
@text-color: #333;
// Button
@button-default-height: 94px;
@button-default-line-height: 92px;
@button-normal-font-size: 36px;
@button-primary-background-color: var(--themeColor);
@button-primary-border-color: var(--themeColor);
@button-border-radius: 8px;
// Font
@font-size-xs: 12px;
@font-size-sm: 14px;
@font-size-md: 16px;
@font-size-lg: 18px;
// NavBar
@nav-bar-height: 90px;
@nav-bar-arrow-size: 36px;
@nav-bar-icon-color: #333;
@nav-bar-title-font-size: 36px;
// Field
@field-text-area-min-height: 98px;
@field-error-message-text-color: 24px;
// Notify
@notify-padding: 22px @padding-md;
@notify-font-size: 28px;
@notify-line-height: 40px;
@notify-primary-background-color: @blue;
@notify-success-background-color: #22CA92;
@notify-danger-background-color: @red;
@notify-warning-background-color: #FCB114;
// Progress
@progress-height: 6px;
@progress-color: var(--themeColor);
@progress-background-color: #fff;